<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
  <meta name="apple-mobile-web-app-capable" content="yes"> 
  <title>Lawn OSM Editor</title>
  <script src="{{ url_for('static', filename='lib/jquery-1.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/jquery.base64.min.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/vkbeautify.0.93.beta.js') }}"></script>
  {% set openlayers_js = 'openlayers/lib/OpenLayers.js'
                         if config['OPENLAYERS_SRC'] else
                         'openlayers/OpenLayers.js' %}
  <script src="{{ url_for('static', filename=openlayers_js) }}"></script>
  <script src="{{ url_for('static', filename='lawn.js') }}"></script>
  <script src="{{ url_for('static', filename='dispatch.js') }}"></script>
  <script src="{{ url_for('static', filename='edit.js') }}"></script>
  <script src="{{ url_for('static', filename='delta.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div id="map"></div>
<div id="menu"></div>
<div id="message"></div>

</body>
</html>
